%table.table
  %tr
    %th Search Site
    - saved_search.job_search.headers.each do |header|
      %th= header
  %tr
    %td= saved_search.job_search.name
    - saved_search.user_data.keys.each do |key|
      %td= saved_search.user_data[key]
%p
  %strong
    Results from saved Search
%table.table
  %tr
    %th
      Company
    %th
      Job Title
    %th
      Date Posted
    %th
      Apply
  - 
  - saved_search.results.sort_by { |k| k.date }.reverse.each do |result|
    %tr.clickable-row{ data: { href: "#{result.link}" } }
      %td= result.company
      %td= result.title
      %td= result.date
      %td
        - unless result.applied
          %button.btn.btn-default.btn-xs.apply-for-job{ data: { result: result, saved_search_id: saved_search.saved_search_id } }
            Applied
